body {
  margin: 0px 37%;
  box-sizing: border-box;
  text-align: center;
}
#bomb {
  background-color: royalblue;
  width: 450px;
  height: 100px;
  margin: 10% 0;
  border: 1px solid transparent;
  border-radius: 10px;
}
h2 {
  padding-top: 4%;
  color: aliceblue;
  text-align: center;
}
button {
  background-color: blueviolet;
  width: 200px;
  height: 50px;
  font-size: 15px;
  color: white;
  outline: none;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}
